<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delbert.btpan">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application android:label="BtPanStby">
        <receiver
            android:name=".PanConnectReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.delbert.btpan.RECONNECT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
